.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;

  @media (width < $lg) {
    padding: 24px 0;
  }

  @media (width <$sm) {
    padding: 12px 0;
    margin-bottom: 27px;
  }

  .logo {
    color: light-dark(var(--primary-dark-gray), var(--primary-light-gray));
  }
}
