.paintings_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  @media (width < $lg) {
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width < $sm) {
    grid-template-columns: 1fr;
  }
}
