@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'CormorantSC';
  src: url('/fonts/CormorantSC-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.ttf') format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.ttf') format('ttf');
  font-weight: 500;
}
