// @use './assets/styles/variables.scss' as *;
@use './assets/typography/fonts.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: light-dark(var(--primary-white), var(--primary-black));
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light;
}

:root[data-theme='dark'] {
  color-scheme: dark;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  @media (width <= $md) {
    margin: 0 20px;
  }
}
